<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title> Add Offer - Insert Books </title>
</head>

<body>
	
	<div class="container">
	
		<h3>Book Offer Creation</h3>
		<hr>
		
	
		<form action="#" th:action="@{/user/BookSave}"
						 th:object="${book}" 
						 th:object="${bookAuthor}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{idbook}" />
			
			<input type="text" th:field="*{title}"
					class="form-control mb-4 col-4" placeholder="Inser Title">
					
			<!-- Categories with limited visibility and a scroll bar -->
			<fieldset>
                <legend>Categories of the Book:</legend>
                <div class="scroll-container">
				    <label th:each="category : ${bookCategories}">
				        <input type="checkbox"  name="Categories" th:value="${category.categoryid}" th:text="${category.name}">
				    </label>
				</div>
            </fieldset>

			<input type="text" th:field="*{bookAuthor.name}"
					class="form-control mb-4 col-4" placeholder="Insert the Authors of the Book">
			
			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Insert a Summary of the book">
			
			
			<button type="submit" class="btn btn-info col-2">Save Offer</button>
						
		</form>
	
		<hr>
		<a th:href="@{/user/my-offerings(userprofile_id=${user.userprofile_id})}">Back to My Offers</a>
		
	</div>
</body>

</html>










