<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/user/userDashboard.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome <span th:text="${username}"></span>!</h1>
            <a th:href="@{/logout}" class="logout-btn">Logout</a>
        </div>
        <div class="buttons">
            <a th:href="@{/user/edit-profile}" class="dashboard-btn">Edit Profile</a>
            <a href="/showRequests" class="dashboard-btn">Show Requests</a>
            <a href="/showRecommendations" class="dashboard-btn">Show Recommendations</a>
            <a href="/myOfferings" class="dashboard-btn">My Offerings</a>
            <a href="/myWishlist" class="dashboard-btn">My Wishlist</a>
            <a href="/searchBook" class="dashboard-btn">Search Book</a>
        </div>
    </div>
    
    <div th:block sec:authorize="hasAuthority('USER')">
    <!-- Content only for regular users -->
	</div>
	<div th:block sec:authorize="hasAuthority('GUEST')">
	    <!-- Content only for guests -->
	</div>
</body>
</html>
